<?php

namespace DomotronCloudClient\Bridge\Tracy;

?>

<style class="tracy-debug">
    #tracy-debug .nette-domotron-cloudUser-panel h2 {
        font-size: 14px;
        font-weight: bold;
    }

    #tracy-debug .nette-domotron-cloudUser-panel table {
        font: 9pt/1.5 Consolas, monospace;
    }
</style>

<?php use Tracy\Dumper; ?>

<div class="nette-domotron-cloudUser-panel">
    <h1>Domotron client</h1>
    <p>Used driver: <strong><?php echo get_class($driver); ?></strong></p>

    <div class="tracy-inner">
        <table>
            <thead>
                <tr>
                    <th>Time ms</th>
                    <th>Name</th>
                    <th>Result</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach($queries->getQueries() as $query): ?>
                <tr>
                    <td><?php echo number_format($query['duration'] * 1000, 2); ?></td>
                    <td><span class="tracy-dump-string"><strong><?php echo $query['name']; ?></strong></span> <?php if ($query['error']): ?><br><strong><span style="color: #f4425c">Error occured</span></strong><?php endif; ?></td>
                    <td><?php if ($query['error']): ?><?php Dumper::dump($query['error'], ['depth' => 6]); ?><?php else: ?><?php Dumper::dump($query['result'], ['depth' => 6]); ?><?php endif; ?></td>
                    <td><?php Dumper::dump($query['info'], ['depth' => 6, 'collapse' => 1]); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
